body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Top-display{
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    font-size: 28px;
    color: white;
}
#numberToConvert{
    display: flex;
    height: 75px;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 30px;
    text-align: center;
}

#convert-btn{
    display: block;
    border: none;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
    
#conversions{
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.convertedMeasure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 25px;
    background-color: white;
    margin: 30px 25px;
    width: 100%;
    height: 100px;
    color: #5A537B;
}

.showConversion{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}